backend:
  name: git-gateway
  accept_roles:
    - Editeurs
  branch: master
publish_mode: editorial_workflow
media_folder: "static/images/couvertures/"
public_folder: "images/couvertures/"
collections:
  - name: "Articles"
    label: "Articles"
    folder: "content/articles/"
    create: true
    slug: "{{year}}-{{month}}-{{slug}}"
    fields:
      - {label: "Titre", name: "Title", widget: "string"}
      - {label: "Date de publication", name: "date", widget: "datetime"}
      - {label: "Brouillon", name: "draft", widget: "boolean", default: false}
      - {label: "Couverture", name: "image", widget: "image"}
      - {label: "Miniature", name: "bgImage", widget: "image"}
      - {label: "description", name: "description", widget: "string"}
      - {label: "Auteur路e路s", name: "author", widget: "string"}
      - {label: "type", name: "type", widget: "hidden", default: "post"}
      - {label: "Article", name: "Body", widget: "markdown"}
  - name: "AilleursSurLeWeb"
    label: "AilleursSurLeWeb"
    folder: "content/ailleurssurleweb/"
    create: true
    slug: "{{year}}-{{month}}-{{slug}}"
    fields:
      - {label: "Titre", name: "Title", widget: "string"}
      - {label: "Date de publication", name: "date", widget: "datetime"}
      - {label: "Brouillon", name: "draft", widget: "boolean", default: false}
      - {label: "Couverture", name: "image", widget: "image"}
      - {label: "Miniature", name: "bgImage", widget: "image"}
      - {label: "description", name: "description", widget: "string"}
      - {label: "Auteur路e路s", name: "author", widget: "string"}
      - {label: "type", name: "type", widget: "hidden", default: "post"}